APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOGO=logo.png
APP_BACKGROUND=background.jpg
APP_TITLE="APLIKASI MANUAL LAUNDRY"
APP_DESCRIPTION="Welcome to our running community! Discover the joy of running, connect with fellow enthusiasts, and unlock your full power."
APP_ABOUT="Welcome to our vibrant running community, where we organize exciting running events, provide helpful running tutorials, and keep you informed with the latest running news."
APP_PHONE="021-503953"
APP_ADDRESS="710 1st St. Easton, PA 18042 | Chester County"
APP_COLOR="#0742f2"
PATH_LINK=true

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=reverb
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GITHUB_WEBHOOK_SECRET=
GITHUB_WEBHOOK_BRANCH=master

TELESCOPE_ENABLED=0
DEBUGBAR_ENABLED=0
BREADCRUMB_ENABLED=false

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

APP_AUTH=1
CSV_DELIMITER=,
CSV_CHUNK=1
PAGINATION_NUMBER=10